*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gray:#D9D9D9;
    --darkGray: #687693;
    --green: #1B6F58;
    --white: #fff;
    --offWhite: #F1F0EB;
    --black: #020000;
    --brown: #A68E74;
    --lightBrown: #F8F8F8;
    --lightGray: #B4B7C9;
}

.font-josefin{
    font-family: 'Josefin Sans', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

/* header css */

.top-header{
    background-color: var(--gray);
}

.header .container-fluid{
    padding-left: 100px;
    padding-right: 0px;
    overflow: hidden;
}

.social-link-wrapper::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 23%;
    background: rgba(255, 255, 255, 0.37);
    height: 20px;
    width: 1px;
    transform: translateY(-50%);
}

.social-links a{
    text-decoration: none;
    margin-right: 20px;
}
.nav-socialLik-wrapper:hover i{
fill: var(--green);
}
.social-links a:last-child{
    margin-right: 0px;
}

.social-links a i{
    color: var(--black);
    font-size: 18px;
}

.mail-info-wrapper i{
    color: var(--darkGray);
    font-size: 18px;
    margin-right: 7px;
}

.mail-info-wrapper a{
    color: var(--darkGray);
}

.call-info-wrapper{
    background-color: var(--green);
    padding: 20px 100px 20px 30px;   
    transition: 0.6s;
}

.call-info-wrapper:hover{
    background-color: var(--brown);
}

.call-info-wrapper i{
    font-size: 22px;
    color: var(--lightGray);
    line-height: 1;
}

.call-info-wrapper a{
    color: var(--white);
    font-size: 15px;
}

/* navbar css */

.navbar{
    padding: 20px 0px !important;
    background-color: var(--offWhite);
    z-index: 999;
    height: auto;
}

.navbar .container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand{
    margin-right: 0px !important;
}

.navbar .search_form_wrapper{
    margin-left: 35px;
}

.search_form_wrapper .searchInputField{
    height: 50px;
    width: 295px;
    display: inline-block;
    border-radius: 30px;
    background-color: #F7F8F9;
    color: var(--darkGray);
    font-size: 15px;
    padding: 15px 55px 15px 25px;
    border: none;
}

.search_form_wrapper .searchBtn{
    position: absolute;
    top: 50%;
    right: 20px;
    color: var(--green);
    border: none;
    background: transparent;
    transform: translateY(-50%);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--green) !important;
    background-color: rgba(171, 148, 136, 0.06);
    border-radius: 10px;
}

.nav-link:hover{
    color: var(--green) !important;
    background-color: rgba(171, 148, 136, 0.06);
    border-radius: 10px;
}

.navbar .nav-item{
    margin-right: 2px;
}

.navbar .nav-item .nav-link{
    font-weight: 500;
    font-size: 15px;
    color: var(--black);
    padding: 5px 15px;
    font-family: 'Inter', sans-serif !important;
}

.navbar .nav-item .list-group{
    position: absolute;
}

.navbar .nav-item .list-group-item{
    border: none !important;
    color: var(--darkGray);
}


.list-group-item.active{
    background-color: #fff !important;
    color: var(--green) !important;
}

.more-links{
    margin-left: 20px;
    padding-left: 30px;
}

.more-links::before{
    position: absolute;
    top: 0;
    left: 0px;
    content: '';
    height: 20px;
    width: 1px;
    background: #E5E4E4;
}

.more-links .loginLinkWrapper{
    margin-right: 30px;
}

.more-links .loginLinkWrapper a{
    color: var(--black);
    transition: 0.6s;
}

.more-links .loginLinkWrapper a:hover{
    color: var(--green);
}

.more-links .contact-wrapper a{
    background-color: var(--black);
    padding: 15px 32px;
    color: var(--white);
    border-radius: 50px;
    transition: 0.6s;
}

.more-links .contact-wrapper a:hover{
    background-color: var(--green);
}

.sticky{
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed !important;
    width: 100%;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

/* hero section css */

.hero-section{
    background-color: var(--offWhite);
}

.hero-content-wrapper{
    padding: 120px 86px 120px 100px;
}

.hero-content-wrapper .hero-badge{
    background-color: var(--brown);
    color: var(--white);
    font-size: 14px;
    padding: 5px 15px;
    margin-bottom: 22px;
    border-radius: 5px;
}

.hero-content-wrapper h1{
    font-size: 72px;
    color: var(--black);
    margin-top: 22px;
    font-weight: bold;
}

.info-tab{
    margin-top: 25px;
}

.hero-content-wrapper .info-tab .tabList{
    list-style: none;
    padding-left: 0px;
}

.hero-content-wrapper .info-tab .tabList .tabList-item{
    border-bottom: 1px solid rgba(180, 183, 201, 0.15);
    
}

.info-tab .tabList .tabList-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 17px;
    background-color: var(--lightGray);
    right: 0;
    top: 6px;
}


.info-tab .tabList .tabList-item .tab-option{
    color: var(--black);
    font-size: 15px;
    transition: 0.6s;
    text-decoration: none;
    display: inline-block;
    padding: 0 50px 15px;
    cursor: pointer;
}

.active{
    color: var(--green) !important;
} 

.info-tab .tabList .tabList-item .tab-option::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 120px;
    background-color: var(--green);
    left: 5px;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.info-tab .tabList .tabList-item .tab-option.active::before{
    opacity: 1;

}

.info-tab .tabList .tabList-item .tab-option:hover:before{
    opacity: 1;
}

.info-tab .tabList .tabList-item .tab-option:hover{
    color: var(--green);
}

.search-content .search-formWrapper .form-label{
    font-size: 15px;
    color: var(--black);
    margin-bottom: 10px;
    line-height: 1px;
}

.search-content .search-formWrapper .form-control{
    height: 55px;
    border: none;
    background-color: #F7F8F9;
    color: var(--darkGray);
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 25px;
}

.search-content .search-formWrapper .form-select:focus{
    box-shadow: none;
}

.search-content .search-formWrapper .form-control:focus-visible{
    outline: 0px !important;
}

.search-content .search-formWrapper .form-group{
    width: 100%;
}

.search-btn{
    height: 55px;
    border: none;
    background-color: var(--green);
    color: var(--white);
    border-radius: 50px;
    padding: 15px 25px;
    transition: 0.6s;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    font-size: 18px;
    width: 100%;
    /* position: absolute;
    top: 36px;
    right: -400px; */
}

.search-btn:hover{
    background-color: var(--brown);
}

.search-btn i{
    font-size: 20px;
    line-height: 1;
    margin-right: 10px;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    right: 0px !important;
    top: 50%;
    left: auto !important;
    z-index: 2;
    display: table !important;
    background: rgba(41, 37, 37, 0.14);
    backdrop-filter: blur(30px);
    transform: translateY(-50%);
    padding: 0px 15px !important;
    margin-right: 50px !important;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    background-color: transparent !important;
    width: 10px !important;
    height: 10px !important;
    display: table;
    margin: 15px 0px;
    border-radius: 50% !important;
    border: 2px solid var(--white) !important;
} 

/* category section css */

.category-wrapper{
    padding: 120px 0px 95px;
}

.downIcon-wrapper{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 50px;
}

.category-wrapper .category-card{
    padding: 20px;
    background-color: var(--lightBrown);
    border: none !important;
    border-radius: 0px !important;
    margin: 0px auto;
}

.category-wrapper .category-card::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--green);
    height: 1px;
    width: 0px;
    transition: 0.6s;
}

.category-wrapper .category-card:hover:before{
    width: 100%;
}

.category-wrapper .category-card .card-imageWrapper{
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.81);
}

.category-wrapper .category-card .card-title a{
    font-size: 18px;
    text-decoration: none !important;
    color: var(--black) !important;
}

.category-wrapper .category-card .card-content span{
    font-size: 14px;
    margin-top: 10px;
    color: var(--darkGray);
}

/* latest properties style */
.properties-areaWrapper{
    padding-bottom: 95px;
}

.properties-areaWrapper .area-heading{
    margin-bottom: 40px;
}

.properties-areaWrapper .area-heading p{
    color: var(--darkGray);
    margin: 12px auto 0px;
    max-width: 625px;
}

.property-option .property-tabsWrapper{
    margin-bottom: 35px;
}

.property-option .property-tabsWrapper ul .property-tab{
    margin-right: 20px;
    list-style: none;
}

.property-option .property-tabsWrapper ul .property-tab a{
    font-size: 14px;
    color: var(--green);
    background-color:  rgba(27, 111, 88, 0.1);
    padding: 10px 22px;
    border-radius: 10px;
    transition: 0.6s;
}

.property-option .property-tabsWrapper ul .property-tab a.active{
    background-color: var(--green);
    color: var(--white) !important;
}

.property-option .property-tabsWrapper ul .property-tab:hover a{
    background-color: var(--green);
    color: var(--white) !important;
}

.property-card{
    border-radius: 5px;
    background-color: var(--offWhite)
}

.property-card img{
    border-radius: 5px
}

.property-card .titleWrapper h3 a{
    font-size: 20px;
    color: var(--black);
}

.property-card .titleWrapper h3:hover a{
    color: var(--green);
}

.property-card .titleWrapper span{
    color: var(--darkGray);
    font-size: 14px;
    letter-spacing: 0.52px;
    margin-top: 10px;
}

.card-price{
    color: var(--green);
}

.property-card .property-content .cardOptionsWrapper{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.49);
}

.cardOptionsWrapper .ownerNameWrapper img{
    max-width: 30px;
    border: 2px solid var(--white);
    box-shadow: 0px 4px 20px 0px rgba(84, 196, 217, 0.15);
    margin-right: 10px;
    transition: 0.6s;
}

.cardOptionsWrapper .ownerNameWrapper:hover img{
    border: 2px solid var(--green);
}

.areaImgWrapper::before{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 0, 0) 64.3%, rgba(2, 0, 0, 0.5) 88.53%);
}

.featureWrapper{
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
}

.featureWrapper p{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.6s;
    font-size: 14px;
    cursor: pointer;
}

.featureWrapper p:hover{
    background-color: var(--brown);
    border: 1px solid var(--brown);
}

.mediaWrapper{
    background-color: var(--black);
    color: var(--white);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    
}

.badgeWrapper{
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

.badgeWrapper .mediaWrapper:hover{
    background-color: var(--green);
}

.featureWrapper .mediaWrapper span{
    margin-right: 12px;
}

.featureWrapper .mediaWrapper span:last-child{
    margin-right: 0px;
}

.faciltyWrapper{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 25px;
    margin-bottom: 0px;
    list-style: none;
}

.faciltyWrapper li{
    margin-right: 25px;
}

.faciltyWrapper .icon{
    background-color: var(--brown);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin-right: 5px;
}

.faciltyWrapper .icon:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
}

.faciltyWrapper span{
    color: var(--white);
    font-size: 15px;
    letter-spacing: 0.5px;
}

.cardOptionsWrapper .ownerNameWrapper span{
    color: var(--darkGray);
    font-size: 14px;
    letter-spacing: 0.52px;
}

.cardOptionsWrapper .other-optionsWrapper .option_icon-wrapper, .featured-property_wrapper .other-optionsWrapper .option_icon-wrapper{
    color: var(--lightGray);
    width: 32px;
    height: 32px;
    border: 1px solid var(--lightGray);
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.6s;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cardOptionsWrapper .other-optionsWrapper .option_icon-wrapper:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

/* sell amd rental area property style */

.propertySectionWrapper .sell-property_wrapper .container-fluid{
    padding-left: 0px !important;
    padding-right: calc((100% - 1320px) / 2);
}

.sell-property_wrapper .real_estate-img{
    object-fit: contain;
    max-width: 1017px;
    margin-left: -79px;
}

.sell-property_wrapper .sell-area_content{
    padding: 100px 0px 100px 70px;
}

.rental_estate-img{
    max-width: 934px !important;
    margin-left: -20px;
}

.sell-property_wrapper .sell-area_content .sell-badge, .rental-area_content .sell-badge{
    background-color: var(--brown);
    color: var(--white);
    padding: 5px 15px;
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: 0.7px;
    border-radius: 5px;
}

.sell-property_wrapper .sell-area_content h2, .rental-area_content h2{
    color: var(--black);
    margin-bottom: 15px;
    line-height: 1.3;
    margin-top: 31px;
}

.sell-property_wrapper .sell-area_content p, .rental-area_content p{
    color: var(--darkGray);
    line-height: 1.8;
}

.sell-area_content .sell-more-info, .rent-more-info{
    padding: 35px;
    background-color: var(--lightBrown);
    margin-top: 30px;
    border-radius: 5px;
}

.sell-area_content .sell-more-info h3, .rent-more-info h3{
    font-size: 22px;
    margin-bottom: 12px;
    color: var(--black);
}

.propertySectionWrapper .renta1-property_wrapper .container-fluid{
    padding-left: calc((100% - 1320px) / 2);
}

.renta1-property_wrapper .rental-area_content{
    padding: 100px 70px 100px 0px;
}

.renta1-property_wrapper .rental-ImgWrapper{
    background-image: url(/assets/images/rent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: -25px;
}

/* client review section style */

.client-review_wrapper{
    padding: 120px 0px 95px;
}

.client-review_wrapper .col{
    flex: 0 0 auto;
    width: 20%;
}

.client-review_wrapper .review-wrapper h3{
    color: var(--green);
    font-size: 50px;
    margin-bottom: 5px;
}

.client-review_wrapper .review-wrapper p{
    color: var(--darkGray);
    font-size: 18px;
}

/* featured property style  */

.featured-property_wrapper{
    background-color: var(--offWhite);
    padding: 120px 0px;
    overflow: hidden;
}

.featured-property_wrapper .featured-property{
    margin-bottom: 40px;
}

.featured-property_wrapper .featured-property h2{
    margin-bottom: 0px;
    color: var(--black);
}

.featured-property_wrapper .featured-property p{
    max-width: 625px;
    margin: 12px auto 0;
    color: var(--darkGray);
}

.featured-property_wrapper .container-fluid{
    padding-right: 0px;
    padding-left: calc((100% - 1320px) / 2);
}

.featured-property_wrapper .property-slide{
    position: relative;
    height: 565px;
    margin-right: 25px;
    border-radius: 5px;
    transition: 0.6s;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1.5;
}

.slide-active{
    flex: 7 !important;
    margin-right: 435px !important;
}

.featured-property_wrapper .first-slide{
    background-image: url(/assets/images/propertiesOne.jpg);
    margin-left: 0px;
}

.featured-property_wrapper .second-slide{
    background-image: url(/assets/images/propertiesTwo.jpg);
    margin-left: 0px;
}

.featured-property_wrapper .third-slide{
    background-image: url(/assets/images/propertiesThree.jpg);
    margin-left: 0px;
}

.featured-property_wrapper .forth-slide{
    background-image: url(/assets/images/propertiesforth.jpg);
    margin-left: 0px;
}

.featured-property_wrapper .property-slide .properties-content{
    border-radius: 5px;
    padding: 35px 30px;
    width: 500px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    right: -400px;
    opacity: 0;
    transform: translateY(-50%);
}

.content-active{
    opacity: 1 !important;
}

.featured-property_wrapper .property-slide:last-child{
    margin-right: 0px;
}

.featured-property_wrapper .property-slide h3{
    font-size: 20px;
    
}

.featured-property_wrapper .property-slide h3 a:hover{
    color: var(--green);
}

.featured-property_wrapper .property-slide h3 a{
    text-decoration: none;
    color: var(--black);
}

.featured-property_wrapper .property-slide p{
    font-size: 14px;
    color: var(--darkGray);
    letter-spacing: 0.52px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.featured-property_wrapper .faciltyWrapper{
    padding: 0px 0px;
    position: relative;
}

.featured-property_wrapper .faciltyWrapper span{
    color: var(--black);
}

.featured-property_wrapper .property-slide .properties-content .price-wrapper span{
    color: var(--green);
}

.featured-property_wrapper .property-slide .properties-content .user-imgWrapper img{
    max-width: 30px;
    margin-right: 10px;
    border: 2px solid var(--brown);
    box-shadow: 0px 4px 20px 0px rgba(84, 196, 217, 0.15);
    border-radius: 50px;
    transition: 0.6s;
}

.featured-property_wrapper .property-slide .properties-content .user-imgWrapper:hover img{
    border: 2px solid var(--green);
}

.featured-property_wrapper .property-slide .properties-content .user-imgWrapper span{
    color: var(--darkGray);
    font-size: 14px;
    letter-spacing: 0.52px;
}


/* property for sale css */

.property-forSale_wrapper{
    padding: 120px 0px 95px;
}

.forSale-content{
    margin-bottom: 40px;
}

.property-forSale_wrapper .forSale-content h2, .agent-detail_wrapper h2{
    color: var(--black);
}

.property-forSale_wrapper .forSale-content p, .agent-detail_wrapper p{
    color: var(--darkGray);
    max-width: 625px;
    margin: 12px auto 0;
}

.information-area{
    background: linear-gradient(180deg, #EDF7FF 0%, #FAF3E1 100%);
    padding: 70px 50px;
}

.information-area .info-badge{
    background-color: var(--brown);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
    letter-spacing: 0.7px;
    font-size: 14px;
    margin-bottom: 25px;
    display: inline-flex;
}

.information-area h2{
    font-size: 40px;
    color: var(--black);
}


.information-area ul .contact-info{
    margin-right: 30px;
}

.information-area .contact-info .contact-icon{
    margin-right: 7px;
    color: var(--brown) !important;
}

.information-area .contact-info .contact-text{
    font-size: 20px;
    color: var(--black);
}

.information-area .contact-info .contact-text:hover{
    color: var(--green);
}

.information-area .premiumPropertyBtn{
    background-color: var(--green);
    color: var(--white);
    border-radius: 50px;
    padding: 15px 32px;
    transition: 0.6s;
}

.information-area .premiumPropertyBtn:hover{
    background-color: var(--brown);
}

/* real estate agent section css */

.agent-detail_wrapper{
    padding: 120px 0px 120px;
}

.pb-95{
    padding-bottom: 95px;
}

.detail-card{
    z-index: 1;
}

.agent-detail_wrapper .agent-imgWrapper{
    padding: 0px 25px;
}

.agent-detail_wrapper .agent-imgWrapper img{
    max-width: 256px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.detail-card::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    height: 255px;
    background: linear-gradient(180deg, #EDF7FF 0%, #FAF3E1 100%);
    z-index: -1;
    border-radius: 5px;
}

.detail-card .agent-content{
    padding: 30px;
}

.detail-card .agent-content h3{
    font-size: 20px;
    color: var(--black);
    transition: 0.6s;
}

.detail-card .agent-content h3:hover{
    color: var(--green);
}

.agent-designation{
    font-size: 15px;
    margin-top: 10px;
    color: var(--darkGray);
}

.detail-card .agent-content .contact-links{
    margin-top: 20px;
}

.detail-card .agent-content .contact-links a{
    text-decoration: none;
    color: var(--green);
    margin-right: 20px;
    font-size: 18px;
    transition: 0.6s;
}

.detail-card .agent-content .contact-links a i{
    font-size: 18px;
}

.detail-card .agent-content .contact-links a:hover{
    color: var(--brown);
}

.agent-detail_wrapper .testimonial-wrapper .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.agent-detail_wrapper .testimonial-wrapper .testimonial-slide_Wrapper{
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition-duration: 0ms;
    /* transform: translate3d(-3248px, 0px, 0px); */
    transition-delay: 0ms;
}

.agent-detail_wrapper .testimonial-wrapper .testimonial-slide_Wrapper .slick-active{
    background-color: var(--green);
}

.testimonial-slide_Wrapper .slick-active .swiper-title h3,
.testimonial-slide_Wrapper .slick-active .property-description{
    color: var(--white);
}

.testimonial-slide_Wrapper .slick-active .agent-designation{
    color: var(--lightGray);
}

.agent-detail_wrapper .testimonial-wrapper .swiper-slider{
    padding: 50px;
    border-radius: 5px;
    background-color: #F9F7F4;
    width: 903px;
    margin-right: 25px;
    backface-visibility: hidden;
    flex-shrink: 0;
}

.swiper-slider::before {
        position: absolute;
        content: "“";
        right: 50px;
        top: 20px;
        font-size: 120px;
        font-weight: 400;
        font-family: "Josefin Sans", sans-serif;
        color: #A9A9C8;
}

.swiper-title h3{
    color: var(--black);
    font-size: 18px;
    
}

.property-description{
    font-size: 20px;
    max-width: 100% !important;
    margin: 12px 0px 0px !important;
}

.starWrapper{
    list-style: none;
    padding-left: 0px;
}

.starWrapper li{
margin-right: 7px;
}

.articles_wrapper{
    padding-bottom: 95px;
}

.article-title_content{
    max-width: 625px;
    margin: 12px auto 0px;
    color: var(--darkGray);
}

.article-detail_wrapper img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-detail_wrapper{
    background-color: #F7F8F9;
    border-radius: 5px;
    transition: 0.6s;
}
.article-detail_wrapper .tagName{
    top: 10px;
    left: 10px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    transition: 0.6s;
}
.article-detail_wrapper:hover .tagName,
.article-detail_wrapper:hover .article_user_img
{
    background-color: var(--green);
    border-color: var(--green);
}
.article-detail_wrapper:hover .article_cardHeading a{
    color: var(--green);
}

.article-card-wrapper .list-artical-detail svg{
    width: 22px;
    padding-right: 5px;
}
.article_user_img{
    top: 57%;
    right: 15px;
    max-width: 34px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.article-cardDetail{
    margin-bottom: 18px;
}
.article-cardDetail .list-artical-detail{
    font-size: 14px;
    font-weight: 500;
    color: var(--darkGray);
    letter-spacing: 0.5px;
    margin-right: 55px;
}
.article-cardDetail .article-options_wrapper::before{
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: var(--green);
    right: -28px;
    top: 33%;
}
.article_cardHeading a{
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
}

/* footer style */
.page-footer{
    background-color: var(--black);
    padding-top: 120px;
}
.footer-desc p{
    color: #DAE8F0;
    line-height: 1.8;
}
.footer-links-wrapper{
    margin-right: 20px;
}
.footer-links-wrapper a svg{
    width: 18px;
    fill: var(--brown);
    transition: 0.6s;
}
.footer-links-wrapper a svg:hover{
    fill: var(--green);
}
.footer-links a{
    color: #DAE8F0;
}
.footer-links a:hover{
    color: var(--green);
}
.footer-links a::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--green);
    left: 0;
    bottom: 0;
    transition: 0.6s;
}
.footer-links a:hover:before{
    width: 100%;
}
.footer-links{
    color: #DAE8F0;
    font-size: 15px;
}
.footer-links span{
    color: var(--brown);
}

/* media query for large screen */

@media (max-width:1399px){

    .container-fluid{
        max-width: 1140px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .search-form{
        margin: 0px 10px 0px 20px;
    }

    .search_form_wrapper .searchInputField{
        width: 175px;
        height: 45px;
        padding: 15px 45px 15px 15px;
        font-size: 14px;
    }

    .hero-content-wrapper {
        padding: 80px 0px 100px 0px;
    }

    .hero-content-wrapper h1{
        font-size: 52px;
    }

    .search-btn{
        font-size: 14px;
        padding: 15px;
    }
}

@media (max-width:1199px){
    .container-fluid{
        max-width: 960px;
        padding-left: 0px !important;
    
    }

       /* navbar css */

        .navbar .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-toggler{
        border: none !important;
        color: var(--green) !important;
    }

    .contact-wrapper{
        margin-top: 20px;
    }

    .more-links{
        margin-left: 0px;
        padding-left: 18px;
    }

    .navbar-toggler:focus{
        box-shadow: none !important;
    }

    /* hero section css */

    .hero-content-wrapper {
        padding: 80px 0px 100px 0px;
    }

    .hero-content-wrapper h1{
        font-size: 60px;
    }

    .category-wrapper .category-card .card-imageWrapper{
        margin: 0px auto;
    }

    /* rental property style */
    .sell-property_wrapper .sell-ImgWrapper{
        margin-right: 0px;
    }

    .sell-property_wrapper .sell-area_content{
        padding: 45px 0px 45px 15px;
    }

    .propertySectionWrapper .sell-property_wrapper .container-fluid, .propertySectionWrapper .renta1-property_wrapper .container-fluid{
        padding: 0px 15px !important;
    }

    /* featured property css */

    .featured-property_wrapper{
        padding: 100px 0px;
    }

    .slide-active {
        flex: 12 !important;
        margin-right: 25px !important;
    }

    .featured-property_wrapper .property-slide .properties-content{
        width: 390px;
        right: 15px;
        padding: 25px;
    }

    .agent-detail_wrapper .agent-imgWrapper img{
        max-width: 406px;
    }
}


/* media query for medium screen */

@media (max-width:990px){
    .container-fluid{
        max-width: 720px;
        padding-left: 0px !important;
    }

    .top-header{
        padding: 10px 0px;
    }

    .social-link-wrapper .social-links{
        margin-right: 20px;
    }
    
    .social-links a{
        margin-right: 15px;
    }

    .social-links a i{
        font-size: 17px;
    }

    .social-link-wrapper::before {
        left: 46%;
    }

    .call-info-wrapper{
        padding: 10px 15px;   
    }

    /* navbar css */

    .navbar .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-toggler{
        border: none !important;
        color: var(--green) !important;
    }

    .contact-wrapper{
        margin-top: 20px;
    }

    .more-links{
        margin-left: 0px;
        padding-left: 18px;
    }

    .navbar-toggler:focus{
        box-shadow: none !important;
    }

    /* latest properties style */
    .property-option .property-tabsWrapper ul li{
        margin-bottom: 25px !important;
        margin-right: 10px !important;
    }

    .property-tab a{
        padding: 8px 15px !important;
    }

    .sell-property_wrapper .sell-ImgWrapper, .renta1-property_wrapper .rental-ImgWrapper{
        height: 550px;
    }

    .sell-property_wrapper .sell-area_content, .renta1-property_wrapper .rental-area_content{
        padding: 35px 0px 25px;
    }

    /* for sale css */

    .information-area{
        padding: 50px;
    }

    .agent-detail_wrapper .agent-imgWrapper img{
        max-width: 286px;
    }
    .sell-property_wrapper .real_estate-img,
    .rental_estate-img{
        max-width: 100% !important;
        margin-left: 0px;
    }
    .maxWidth{
        max-width: 580px;
    }
    .client-review_wrapper .review-wrapper h3{
        font-size: 35px;
        margin-bottom: 2px;
    }
    .client-review_wrapper .review-wrapper p{
        font-size: 15px;
    }
    .pb-95{
        padding-bottom: 75px !important;
    }
}

/* media query for small screen */

@media (max-width:767px){
    .container-fluid{
        max-width: 540px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .social-links a{
        margin-right: 20px;
    }

    .social-links{
        margin-bottom: 10px;
    }

    .social-links a i{
        font-size: 18px;
    }

    .mail-info-wrapper{
        margin-bottom: 10px;
    }

    .call-info-wrapper{
        padding: 10px 12px;   
    }

       /* navbar css */

        .navbar .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-toggler{
        border: none !important;
        color: var(--green) !important;
    }

    .contact-wrapper{
        margin-top: 20px;
    }

    .more-links{
        margin-left: 0px;
        padding-left: 18px;
    }

    .navbar-toggler:focus{
        box-shadow: none !important;
    }

    /* hero section css */

    .hero-content-wrapper {
        padding: 45px 0px 50px 0px;
    }

    .hero-content-wrapper h1 {
        font-size: 30px;
    }

    .info-tab .tabList .tabList-item .tab-option{
        padding: 0px 25px 15px;
    }

    .info-tab .tabList .tabList-item .tab-option::before{
        width: 69px;
    }

    .category-wrapper .category-card .card-imageWrapper{
        margin: 0px auto;
    }

        /* latest properties style */
        .property-option .property-tabsWrapper{
            margin-bottom: 25px !important;
        }

        .property-option .property-tabsWrapper ul{
            padding-left: 0px !important;
            flex-wrap: wrap;
        }

        .property-option .property-tabsWrapper ul li{
            margin-bottom: 5px !important;
            margin-right: 5px !important;
        }
    
        .property-tab a{
            padding: 5px 8px !important;
            font-size: 12px !important;
        }

        .sell-property_wrapper .sell-ImgWrapper, .renta1-property_wrapper .rental-ImgWrapper{
            height: 450px;
        }
        
        .sell-property_wrapper .sell-area_content, .renta1-property_wrapper .rental-area_content{
            padding: 35px 0px 25px;
        }

        /* client reviews section css */
        .client-review_wrapper .col{
            flex: 0 0 auto;
            width: 50%;
        }

        .client-review_wrapper .review-wrapper h3{
            font-size: 35px;
            margin-bottom: 2px;
        }

        .client-review_wrapper .review-wrapper p{
            font-size: 15px;
        }

        /* featured property section css */

        .slide-active{
            margin-right: 0px !important;
        }

        .featured-property_wrapper .property-slide{
            height: 400px;
            margin: 0px 0px 25px 0px !important
        }

        .featured-property_wrapper .property-slide .properties-content{
            padding: 12px;
            right: 5px;
            bottom: 5px;
            opacity: 1;
            width: 282px;
            top: unset;
            transform: unset;
        }

        .info-content, .faciltyWrapper{
            margin-bottom: 20px;
        }

        .faciltyWrapper li{
            margin-right: 15px;
        }

        .faciltyWrapper .icon{
            height: 30px;
            width: 30px;
        }

        .faciltyWrapper span{
            font-size: 14px;
        }

        .information-area{
            padding: 25px;
        }

        .information-area .info-badge{
            padding: 5px 10px;
            font-size: 12px;
            margin-bottom: 20px;
        }

        .information-area h2{
            font-size: 28px;
        }

        .information-area ul .contact-info{
            margin-right: 0px;
            margin-bottom: 20px;
        }

        .information-area .contact-info .contact-icon{
            font-size: 25px !important;
        }

        .information-area .contact-info .contact-text{
            font-size: 18px;
        }

        .agent-detail_wrapper .agent-imgWrapper img{
            max-width: 300px;
        }
        .sell-property_wrapper .real_estate-img{
            max-width: 100%;
            margin-left: 0px !important;
        }
        .rental_estate-img{
            max-width: 100% !important;
            margin-left: 0px !important;
        }
        .properties-areaWrapper{
            padding-bottom: 50px;
        }
        .sell-area_content h2{
            font-size: 30px !important;
        }
        .agent-detail_wrapper .testimonial-wrapper .swiper-slider{
            padding: 25px;
        }
        .swiper-info .image-wrapper img{
            width: 50px;
            height: 50px;
        }
        .swiper-slider::before{
            display: none;
        }
        .agent-designation{
            font-size: 12px;
            margin-top: 0px;
        }
        .property-description{
            font-size: 15px;
            line-height: 1.8;
        }
        .pb-95{
            padding-bottom: 25px !important;
        }
        .agent-detail_wrapper{
            padding-bottom: 50px;
        }
        .aricleWrapper{
            margin-bottom: 30px;
        }
        .article-cardDetail .list-artical-detail{
            margin-right: 39px;
        }
        .article-cardDetail .article-options_wrapper::before{
            right: -18px;
        }
}

